/* General Styles */
body {
  font-family: proxima-nova, sans-serif;
  font-style: normal;
  overflow-x: hidden;
}

/* Header Styles */
header {
  background: #000;
  padding: 20px;
  position: relative;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo img {
  max-width: 120px; /* Logo size */
  margin: 0 auto;
}

.header-nav {
  width: 100%;
  display: flex;
  justify-content: center;
}

.header-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
}

.header-nav ul li {
  margin: 0 10px;
}

.header-nav ul li a {
  color: #fff;
  font-family: proxima-nova-extra-condensed, sans-serif;
  font-size: 21px;
  font-weight: 800;
  text-transform: uppercase;
  text-decoration: none;
  transition: .3s;
}

.header-nav ul li a:hover {
  color: #db0d15;
}

/* Video Display Styles */
.home-top, .container-fluid.main-video {
  height: 75vh;
  position: relative;
  width: 100%;
}

#home-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.logo-video {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  max-width: 200px;
}

.video-intro {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  color: #fff;
  text-align: center;
  font-size: 39px;
  font-weight: 800;
  letter-spacing: 7px;
  line-height: 41px;
}

/* Game Display Styles with CD Projekt Red Theme Color Coding */
.games-display {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.game-card {
  width: 300px;
  margin: 10px;
  background-color: #db0d15;
  box-shadow: 0 2px 4px rgba(0,0,0,.5);
  position: relative;
  transition: background-color 0.3s ease;
  color: #fff;
}

.game-card:hover {
  background-color: #fff;
  color: #000;
}

.game-card.unavailable {
  filter: grayscale(100%);
}

.game-card.available {
  background-color: #4CAF50;
}

.game-card.unavailable:hover, .game-card.available:hover {
  background-color: #fff;
  color: #000;
}

.game-image {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.game-info {
  padding: 15px;
}

.game-unavailable, .game-available {
  display: block;
  padding: 5px;
  background-color: #fff;
  color: #000;
  text-align: center;
  margin-top: 10px;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.game-card:hover .game-unavailable, .game-card:hover .game-available {
  background-color: #db0d15;
  color: #fff;
}


/* Footer Styles */
.footer {
  background: #000;
  color: #4f575e;
  padding: 20px;
  text-align: center;
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-links {
  list-style: none;
  padding: 0;
  margin: 0 0 20px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.footer-links li {
  margin: 5px 15px;
  font-size: 16px;
  font-weight: 700;
}

.footer-links a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s;
}

.footer-links a:hover {
  color: #db0d15;
}

.footer-bottom {
  font-size: 0.8rem;
}

.footer-bottom a {
  color: #4f575e;
  text-decoration: none;
  transition: color 0.3s;
}

.footer-bottom a:hover {
  color: #db0d15;
}
